

/*
https://codepen.io/HarlemSquirrel/pen/NdMebZ
$dark-color: #111;
$light-color: #eee;
*/
:root {
  --mydark: #aaaaaa;
  --mylight: #ffffff;
	$dark2 : #111;
}


body.dark-mode 
{
  background-color: var(--mylight);
  /*color: var(--mydark);*/
  color: var(--mydark);
}


  
body.light-mode 
{
  background-color: var(--mydark);
  color: var(--mylight);
}