

/*
https://codepen.io/HarlemSquirrel/pen/NdMebZ
*/

:root {
  --mydark: #aaaaaa;
  --mylight: #ffffff;
}


body.dark-mode 
{
  background-color: var(--mylight);
  color: var(--mydark);
}


  
body.light-mode 
{
  background-color: var(--mydark);
  color: var(--mylight);
}
